@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">EVENT MANAGEMENT SYSYTEM</h1>
        <p class="lead">I manage Events</p>
    
    </section>

    
</main>